<div class="container" style="text-align:auto;">
  <div class='jumbotron' style="
  background-color: rgb(85, 157, 157); position: absolute;
        width: 550px; height: 300px; z-index: 15; top: 45%; left: 42%; margin: -100px 0 0 -150px">
    <h2 style="text-align: center;">Reset Password</h2><hr>
    <form class=" form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <center><button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Reset
        Password</button></center>
    </form>
  </div>
</div>