{% load crispy_forms_tags %}
<div class="container" style="text-align: center;">
    <div class="jumbotron" style="
    background-color: rgb(85, 157, 157); position: absolute;
        width: 350px; height: 200px; z-index: 15; top: 50%; left: 47%; margin: -100px 0 0 -150px;">
        <h2>Reset Password</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <p><b>Note: </b><small>Please enter the registered <i>Email</i></small></p>
            {{ form.as_p }}
            <button type="submit">submit</button>
        </form>
    </div>
</div>